<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Mental Health Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="surveystyles.css"/>
</head>
<body>
	<h1 class="item">Mental Health Predictor</h1>
    <!--
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    -->
    
    <form action ="feedback" method="post" class="item">
        
        <div class="formGridItem">
            <label for="firstquestion" th:text="${question1}">First question: </label><br/>
            <input type="text" name = "ans1" placeholder="Age">
        </div><br/>

        <div class="formGridItem">
            <label for="secondquestion" th:text="${question2}">Second question: </label><br/>
            <select name = "ans2">
                <option th:each="option : ${options2}" th:value="${option}" th:text="${option}"></option>
            </select>

        </div><br/>
   
        <div class="formGridItem"> 
        <label for="thirdquestion" th:text="${question3}">Third question: </label><br/>
            <select name = "ans3">
                <option th:each="option : ${options3}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
 
        <div class="formGridItem">
            <label for="fourthquestion" th:text="${question4}">Fourth question: </label><br/>
            <select name = "ans4">
                <option th:each="option : ${options4}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="fifthquestion" th:text="${question5}">Fifth question: </label><br/>
            <select name = "ans5">
                <option th:each="option : ${options5}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="sixthquestion" th:text="${question6}">Sixth question: </label><br/>
            <select name = "ans6">
                <option th:each="option : ${options6}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="seventhquestion" th:text="${question7}">Seventh question: </label><br/>
            <select name = "ans7">
                <option th:each="option : ${options7}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="eighthquestion" th:text="${question8}">Eighth question: </label><br/>
            <select name = "ans8">
                <option th:each="option : ${options8}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="ninthquestion" th:text="${question9}">Ninth question: </label><br/>
            <select name = "ans9">
                <option th:each="option : ${options9}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="tenthquestion" th:text="${question10}">Tenth question: </label><br/>
            <select name = "ans10">
                <option th:each="option : ${options10}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="eleventhquestion" th:text="${question11}">Eleventh question: </label><br/>
            <select name = "ans11">
                <option th:each="option : ${options11}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>

        <div class="formGridItem">
            <label for="twelfthquestion" th:text="${question12}">Twelfth question: </label><br/>
            <select name = "ans12">
                <option th:each="option : ${options12}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>

        <div class="formGridItem">
        <label for="thirteenthquestion" th:text="${question13}">Thirteenth question: </label><br/>
            <select name = "ans13">
                <option th:each="option : ${options13}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="fourteenthquestion" th:text="${question14}">Fourteenth question: </label><br/>
            <select name = "ans14">
                <option th:each="option : ${options14}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="fifteenthquestion" th:text="${question15}">Fifteenth question: </label><br/>
            <select name = "ans15">
                <option th:each="option : ${options15}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="sixteenththquestion" th:text="${question16}">sixteenth question: </label><br/>
            <select name = "ans16">
                <option th:each="option : ${options16}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="seventeenthquestion" th:text="${question17}">Seventeenth question: </label><br/>
            <select name = "ans17">
                <option th:each="option : ${options17}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="eighteenthquestion"th:text="${question18}">Eighteenth question: </label><br/>
            <select name = "ans18">
                <option th:each="option : ${options18}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>

        <div class="formGridItem">
            <label for="nineteenthquestion" th:text="${question19}">Nineteenth question: </label><br/>
            <select name = "ans19">
                <option th:each="option : ${options19}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>

        <div class="formGridItem">
            <label for="twentitethquestion" th:text="${question20}">Twentiteth question: </label><br/>
            <select name = "ans20">
                <option th:each="option : ${options20}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="twentifirstquestion" th:text="${question21}">Twentifirst question: </label><br/>
            <select name = "ans21">
                <option th:each="option : ${options21}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <div class="formGridItem">
            <label for="twentisecondquestion" th:text="${question22}">Twentisecond question: </label><br/>
            <select name = "ans22">
                <option th:each="option : ${options22}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div><br/>
        
        <br/>
        
        <button type = "submit" class="formGridItem formSubmit">Submit</button>
    </form>
    <script src="greeting.js"></script>
</body>
</html>